* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-cogs {
  position: absolute;
}

.cog-container {
  position: fixed;
}

.twenty-four-cog {
  left: 14.02%;
  right: 37.38%;
  top: 34.42%;
  bottom: 16.97%;
}

.twenty-four-cog-inner {
  left: 23.11%;
  right: 46.47%;
  top: 43.51%;
  bottom: 26.06%;
}

.twenty-cog {
  left: 57.14%;
  right: 5.6%;
  top: 43.28%;
  bottom: 19.46%;
}

.six-cog-top {
  left: 18.83%;
  right: 66.66%;
  top: 31.15%;
  bottom: 52.77%;
}

.six-cog-top-inner {
  left: 11.81%;
  right: 80.17%;
  top: 36.14%;
  bottom: 56.1%;
}

.six-cog-bottom {
  left: 16.1%;
  right: 69.4%;
  top: 54.39%;
  bottom: 29.53%;
}

.six-cog-bottom-inner {
  left: 7.9%;
  right: 84.08%;
  top: 57.04%;
  bottom: 35.2%;
}

.twelve-cog {
  left: 43.9%;
  right: 31.79%;
  top: 24.88%;
  bottom: 50.82%;
}

/* // const aboutSlideMoveRight = anime({
  //   targets: "#slide-about-el",
  //   width: "0%",
  //   direction: "normal",
  //   duration: 3000,
  //   easing: "easeInOutExpo",
  //   autoplay: false,
  // });
  // const projectsSlideMoveRight = anime({
  //   targets: "#slide-projects-el",
  //   width: "0%",
  //   direction: "normal",
  //   duration: 3000,
  //   easing: "easeInOutExpo",
  //   autoplay: false,
  // });
  // const skillsSlideMoveRight = anime({
  //   targets: "#slide-skills-el",
  //   width: "0%",
  //   direction: "normal",
  //   duration: 3000,
  //   easing: "easeInOutExpo",
  //   autoplay: false,
  // });
  // const contactSlideMoveRight = anime({
  //   targets: "#slide-contact-el",
  //   width: "0%",
  //   direction: "normal",
  //   duration: 3000,
  //   easing: "easeInOutExpo",
  //   autoplay: false,
  // });
  
  // aboutSlideMoveRight.play();
  // setTimeout(() => {
  //   aboutSlideMoveLeft.play();
  // }, 4000);
  
  // old code
  
  // slideSkills.classList.add("hide-slide");
  
  // function hideHiddenSlide() {
  //   divThree.classList.add("hide-slide");
  // }
  
  // function showHiddenSlide() {
  //   slideSkills.classList.remove("hide-slide");
  // }
  
  // document
  //   .getElementById("six-cog-top-inner-el")
  //   .addEventListener("click", pressBtnLeft);
  
  // document
  //   .getElementById("six-cog-bottom-inner-el")
  //   .addEventListener("click", pressBtnRight);
  
  // ----- menu buttons -----
  // document.getElementById("top-btn1").addEventListener("click", function () {
  //   console.log("ok1");
  //   console.log(count);
  //   document.getElementById(`div${countTranslate}-el`).classList.add("hide");
  //   document.getElementById("div1-el").classList.remove("hide");
  //   count = 1;
  // });
  
  // document.getElementById("top-btn2").addEventListener("click", function () {
  //   console.log("ok2");
  //   document.getElementById(`div${count}-el`).classList.add("hide");
  //   document.getElementById("div2-el").classList.remove("hide");
  //   count = 2;
  // });
  
  // document.getElementById("top-btn3").addEventListener("click", function () {
  //   console.log("ok3");
  //   document.getElementById(`div${count}-el`).classList.add("hide");
  //   document.getElementById("div3-el").classList.remove("hide");
  //   count = 3;
  // });
  
  // document.getElementById("top-btn4").addEventListener("click", function () {
  //   console.log("ok4");
  //   document.getElementById(`div${count}-el`).classList.add("hide");
  //   document.getElementById("div4-el").classList.remove("hide");
  //   count = 4;
  // }); */
